body{
   
    background-repeat: no-repeat;
    background-size: cover;
     margin-left: 5em;
    background-image: url(../assets/bg.jpg);
}
.logo{
    max-width:7em ;
   margin-top: 2em;
   margin-bottom: 4em;
}
h1{
    font-size: 3.5em;
    color: white;
    margin-bottom: 0.5em;
}
b{
    font-weight: bold;
}
h3{
  color:#D20094 ;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
}
p{
    color: white;
}

ul {
    margin-top:2.7em;
    color: white;
    margin-left: 2em;
    margin-bottom: 6em;
}

ul li{
    margin-top: 0.5em;
}

.form{
    display: flex;
 
}
/* form p{
    display: inline;
} */

button{
    
    font-size: 1.2em;
    font-weight: bold;
    background-color: #00FFFF;
    margin-left: 30em;
    width: 12em;
   padding: 1em 2em;
   box-shadow: 1px 1px 7px 6px #00FFFF;
   border: 1px;
     
}

#score{
    color: white;
    font-size: 2em;
    margin-top: 10em;
}

