@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

html {
  background-color: #000000;
  margin: auto;
}

body {
  font-family: sans-serif;
  background-image: url("../assets/bg.jpg");
  background-attachment: fixed;
  background-position: bottom;
  color: white;
  margin: auto;
  max-width: 900px;
}

.logo {
  max-width: 7em;
  margin-top: 30px;
  margin-bottom: 4em;
}
h1 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 0.5em;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 4em;
  /* color: white; */
  margin-bottom: 0.5em;
  line-height: 1;
}

b {
  font-weight: 900;
}

h3 {
  color: #d20094;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

p {
  display: inline;
}

ul {
  margin-top: 2.7em;
}

ul li {
  margin-top: 0.5em;
}

button {
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #00ffff;
  width: 12em;
  padding: 1em 2em;
  box-shadow: 1px 1px 7px 6px #00ffff;
  border: 1px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 150px;
}

.container {
  padding-left: 70px;
}

form p {
  font-weight: bold;
}
#score {
  color: white;
  font-size: 2em;
  margin-top: 5em;
}

.question {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}
.question-container {
  margin-right: 5em;
}
.answer-list {
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer-item:hover {
  background-color: #d20094;
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
}
.answer-item:active {
  background-color: #d20094;
}
.answer-item {
  background-color: transparent;
  width: 20em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 20px;
  border: solid white 1px;
  border-radius: 40px;
  box-shadow: -6px -1px 15px 2px #ffffff;
}

.question-number {
  margin-top: 10em;
}
.selected {
  background-color: #e0e0e0;
}
